<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../form-registro/form-registro.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Registrate</title>
</head>
<body>
    <div class="welcome-container">
        <h1 class="welcome">Bienvenido a AR-Salud</h1>
        <p>Tu mejor amigo a la hora de gestionar tus turnos con tu medico de cabecera</p>
    </div>
    <form action="" method="POST" id="form">
        <div class="form">
            <div class="logo">
                <img src="../../assets/imagenes/logo/logo1.png" alt="">
            </div>
            <h1 class="registro">Registrate</h1>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div>
            <div class="grupo">
                <input type="email" name="" id="name" required><span class="barra"></span>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <input type="Password" name="" id="name" required><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>
            <div class="grupo">
                <input type="Password" name="" id="name" required><span class="barra"></span>
                <label for="">Repite tu contraseña</label>
            </div>
            <button type="submit">Suscribirte</button>
        </div>
    </form>
</body>
</html>

