<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../form-recuperar/form-recuperar.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Registrate</title>
</head>
<body>
    <div class="welcome-container">
        <h1 class="welcome">Ar-Salud</h1>

    </div>
    <form action="" method="POST" id="form">
        <div class="form d-flex justify-content-center">
            <div class="logo">
                <img src="../../assets/imagenes/logo/logo1.png" alt="">
            </div>
            <h4 class="registro">Ingrese su email para recibir un correo y restablecer su contraseña</h4>
            <h1 class="registro">Email</h1>

            <div class="grupo">
                <input type="email" name="" id="name" required><span class="barra"></span>
                <label for="">Email</label>
            </div>

            <button type="submit">Enviar</button>
        </div>
    </form>
</body>

</html>
