<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../main-page/main-page.component.css">
    <link rel="icon" href="../logo/icon.png">
    <title>Inicio</title>
</head>

<body>

    <div class="imagen_fija">
        <h1 class="welcome">Bienvenidos a Ar-Salud</h1>
        <p class="texto">Conseguí todos los productos para el cuidado de tu salud desde la comodidad de tu casa</p>
    </div>
    <h1 class="title text-center mt-5">Productos mas comprados:</h1>
    <div class="row d-flex">
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 20rem;">
          <img src="../../assets/imagenes/productos/prod1.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mascarilla Asepxia carbón</h5>
            <p class="card-text">Descripción breve del producto.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 20rem;">
          <img src="../../assets/imagenes/productos/prod2.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tafirol comprimidos x30</h5>
            <p class="card-text">Descripción breve del producto.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 20rem;">
          <img src="../../assets/imagenes/productos/prod3.jpeg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aspirina prevent 325</h5>
            <p class="card-text">Descripción breve del producto.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 20rem;">
          <img src="../../assets/imagenes/productos/prod4.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aerotina Pediatrico</h5>
            <p class="card-text">Descripción breve del producto.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 20rem;">
          <img src="../../assets/imagenes/productos/prod5.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Actron 400mg</h5>
            <p class="card-text">Descripción breve del producto.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 20rem;">
          <img src="../../assets/imagenes/productos/prod6.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Buscappina Fem</h5>
            <p class="card-text">Descripción breve del producto.</p>
            <a href="#" class="btn btn-primary ml-auto">Comprar</a>
          </div>
        </div>
      </div>
    </div>


    <div class="card-container row">
        <p class="texto-cartas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ducimus veniam libero harum nulla dicta, sapiente magni deserunt rem corporis, eaque exercitationem? Rem dolores beatae repellat quia fuga consequatur reiciendis.</p>
        <div class="justify-content-between">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/imagenes/logo/logo1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">A cerca de Ar-Salud</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Mas sobre nosotros</a>
                    </div>
                  </div>
            </div>
            <div class="col">
             <div class="card" style="width: 18rem;">
               <img src="../../assets/imagenes/logo/logo2.png" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">Consegui tu <strong>15% OFF</strong></h5>
                 <p class="card-text">Registrandote ahora ganas un bono del 15% de descuento en tu primer compra <br> ¡No te lo pierdas!.</p>
                 <a href="#" class="btn btn-primary">Registrarse</a>
               </div>
             </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/imagenes/productos/prod3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Todos los productos</h5>
                      <p class="card-text">Encontrá el producto que estas buscando.</p>
                      <a href="#" class="btn btn-primary">Buscar</a>
                    </div>
                  </div>
            </div>
            <p class="texto-cartas">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quo dolor quaerat voluptatibus rem veniam sunt illo minima. Maiores, facilis. Eum sint esse quis reprehenderit maiores adipisci, aliquam rerum dicta blanditiis sunt voluptates culpa vel molestias explicabo recusandae minus laborum voluptate ipsam numquam qui harum nulla asperiores odio labore. Tempore, rem deserunt. Vero ea nemo eum laudantium animi fugit qui.</p>
        </div>
    </div>

    <div class="advice-container">
        <p class="advice-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, blanditiis a ea eligendi quod, dolor temporibus quia quaerat error saepe obcaecati, libero minima vero? Eligendi mollitia odio sit esse dolor.</p>
    </div>

    <div class="info-container">
        <p class="texto-cartas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ducimus veniam libero harum nulla dicta, sapiente magni deserunt rem corporis, eaque exercitationem? Rem dolores beatae repellat quia fuga consequatur reiciendis.</p>
    </div>

</body>

<footer class="bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5 class="mb-2">Información de contacto:</h5>
        <p class="mb-1"><i class="fas fa-map-marker-alt me-2" style="color: #3d063d;"></i> Dirección: Av. Lorem Ipsum 1234, Ciudad Autónoma de Buenos Aires</p>
        <p class="mb-1"><i class="fas fa-phone-alt me-2" style="color: #3d063d;"></i> Teléfono: (011) 1234-5678</p>
        <p class="mb-1"><i class="fas fa-envelope me-2" style="color: #3d063d;"></i> Email: info@ejemplo.com</p>
      </div>
      <div class="col-12 col-md-6">
        <h5 class="mb-2 mt-5">Redes sociales:</h5>
        <ul class="list-unstyled d-flex">
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-facebook-f" style="color: #94bbe9;"></i></a></li>
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-twitter" style="color: #94bbe9;"></i></a></li>
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-instagram" style="color: #94bbe9;"></i></a></li>
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-linkedin-in" style="color: #94bbe9;"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-primary py-2">
    <div class="container text-center text-white">
      <p class="mb-0">&copy; 2023 Ar-Salud. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>




</html>
