<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>Acerca de nosotros</title>
</head>
<body>
  <section class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4">Acerca de nosotros</h2>
        <p>Somos una empresa dedicada a la venta de productos farmacéuticos de venta libre. Nuestro objetivo es brindar productos de alta calidad que contribuyan al bienestar y la salud de nuestros clientes.</p>
        <p>Trabajamos con los principales laboratorios y distribuidores del sector para ofrecer una amplia gama de medicamentos y productos de cuidado personal. Nuestro equipo está conformado por profesionales altamente capacitados y comprometidos con la excelencia en el servicio.</p>
        <p>En nuestra tienda, encontrarás todo lo que necesitas para tu bienestar, desde analgésicos y antihistamínicos hasta productos para el cuidado de la piel y suplementos vitamínicos. Nos esforzamos por mantenernos actualizados con los últimos avances en la industria farmacéutica para poder ofrecerte siempre las mejores opciones.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <h3 class="mb-4">Nuestra misión</h3>
        <p>Nuestra misión es brindar soluciones de salud accesibles y de calidad, contribuyendo al bienestar de nuestros clientes y fomentando un estilo de vida saludable.</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../assets/imagenes/fondo3.jpg" alt="Imagen 3" class="img-fluid">
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

