<h1>products works!</h1>

<div class="row d-flex justify-content-center">
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="../../assets/imagenes/productos/prod1.png" class="card-img-top img-fluid" alt="...">

<!--ToDo: corregir de acuerdo a la api y porbar  -->

      <div class="card-body" *ngFor="let element of medicine">
        <h5 class="card-title">{{medicine.nombre}}</h5>
        <p class="card-text">{{medicine.descripcion}}</p>
        <h4>{{medicine.precio | currency}}</h4>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="../../assets/imagenes/productos/prod2.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tafirol comprimidos x30</h5>
        <p class="card-text">Descripción breve del producto.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="../../assets/imagenes/productos/prod3.jpeg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aspirina prevent 325</h5>
        <p class="card-text">Descripción breve del producto.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="../../assets/imagenes/productos/prod4.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aerotina Pediatrico</h5>
        <p class="card-text">Descripción breve del producto.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="../../assets/imagenes/productos/prod5.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Actron 400mg</h5>
        <p class="card-text">Descripción breve del producto.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="../../assets/imagenes/productos/prod6.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Buscappina Fem</h5>
        <p class="card-text">Descripción breve del producto.</p>
        <a href="#" class="btn btn-primary ml-auto">Comprar</a>
      </div>
    </div>
  </div>
</div>
