.ng-valid:not(form).ng-touched {
  border-left: 2px solid #42a94b;
  border-bottom: 2px solid #42a94b;
}

.ng-invalid:not(form).ng-touched {
  border-left: 2px solid #a94442;
  border-bottom: 2px solid #a94442;
}

