<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../form-recuperar/form-recuperar.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Registrate</title>
</head>
<body>
    <div class="welcome-container">
        <h1 class="welcome">Ar-Salud</h1>

    </div>
    <form action="" method="POST" id="form">
        <div class="form d-flex justify-content-center">
            <div class="logo">
                <img src="../../assets/imagenes/logo/logo1.png" alt="">
            </div>
            <h4 class="registro">Ingrese su email para recibir un correo y restablecer su contraseña</h4>
            <h1 class="registro">Email</h1>

            <div class="grupo">
                <input type="email" name="" id="name" required><span class="barra"></span>
                <label for="">Email</label>
            </div>

            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
<footer class="bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5 class="mb-2">Información de contacto:</h5>
        <p class="mb-1"><i class="fas fa-map-marker-alt me-2" style="color: #3d063d;"></i> Dirección: Av. Lorem Ipsum 1234, Ciudad Autónoma de Buenos Aires</p>
        <p class="mb-1"><i class="fas fa-phone-alt me-2" style="color: #3d063d;"></i> Teléfono: (011) 1234-5678</p>
        <p class="mb-1"><i class="fas fa-envelope me-2" style="color: #3d063d;"></i> Email: info@ejemplo.com</p>
      </div>
      <div class="col-12 col-md-6">
        <h5 class="mb-2 mt-5">Redes sociales:</h5>
        <ul class="list-unstyled d-flex">
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-facebook-f" style="color: #94bbe9;"></i></a></li>
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-twitter" style="color: #94bbe9;"></i></a></li>
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-instagram" style="color: #94bbe9;"></i></a></li>
          <li><a href="#" class="me-3 text-decoration-none"><i class="fab fa-linkedin-in" style="color: #94bbe9;"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-primary py-2">
    <div class="container text-center text-white">
      <p class="mb-0">&copy; 2023 Ar-Salud. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
</html>
